.header {
    z-index:10;
    height:75px;
    position:fixed;
    background-color:#42C0FB;
    left:0;
    right:0;
    top:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.github-icon-container {
    z-index:10;
    width:100px;
    height:100px;
    background-color: #42C0FB;
    position:relative;
    margin-left:46.5%;
    -webkit-transform: rotate(45deg);
}

.github-icon {
    z-index:11;
    top:0px;
    position:fixed;
    margin-left: 46.5%;
}
